<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Tabla Periodica by AJGS</title>
  </head>
  <body class="space">
  
    <div id="root">
      <h1 class="center">TABLA PERIODICA</h1>
    </div>
  </body>
</html>
